body{
    background-color: black;
    color: rgb(0, 255, 0);
}
@font-face {
    font-family: oldpc;
    src: url(/fonts/retro_computer_personal_use.ttf);
}
#logo{
    text-align: center;
}
#text-01{
    text-align: right;
    font-family: oldpc;
}
#wheater-link-1{
    color: rgb(0, 252, 0);
}
#Filmmaker-link-1{
    color: rgb(0, 255, 0);
    
}