body{
    background-color: black;
    color: greenyellow;
}
#dedsec{
    text-align: center;
}
p{
    text-align: center;
}
.terces{
    /*margin-left: 50%;
    margin-right: 50%;*/
    background-color: black;
    display: inline-block;
    border: none;
}